@import url('https://fonts.cdnfonts.com/css/general-sans');
@import "tailwindcss";

@theme {
  --font-generalsans: 'General Sans', sans-serif;

  --color-black: #000;
  --color-black-100: #010103;
  --color-black-200: #0E0E10;
  --color-black-300: #1C1C21;
  --color-black-500: #3A3A49;
  --color-black-600: #1A1A1A;

  --color-white: #FFFFFF;
  --color-white-800: #E4E4E6;
  --color-white-700: #D6D9E9;
  --color-white-600: #AFB0B6;
  --color-white-500: #62646C;

  --background-image-terminal: url('/assets/terminal.png');
}

body {
  background-color: #010103;
  font-family: 'General Sans', sans-serif;
}

* {
  scroll-behavior: smooth;
}

/* Custom utilities */
.c-space {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 640px) {
  .c-space {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.head-text {
  font-size: 1.875rem;
  font-weight: 600;
  background: linear-gradient(to right, #BEC1CF 0% 60%, #D5D8EA 60% 60%, #D5D8EA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (min-width: 640px) {
  .head-text {
    font-size: 2.25rem;
  }
}

.nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 20;
}

@media (min-width: 640px) {
  .nav-ul {
    flex-direction: row;
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .nav-ul {
    gap: 1.5rem;
  }
}

.nav-li {
  color: #a3a3a3;
  font-family: 'General Sans', sans-serif;
  transition: color 0.2s;
}

.nav-li:hover {
  color: white;
}

@media (max-width: 639px) {
  .nav-li:hover {
    background-color: #3A3A49;
    width: 100%;
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.nav-li_a {
  font-size: 1.125rem;
  transition: color 0.2s;
}

@media (min-width: 768px) {
  .nav-li_a {
    font-size: 1rem;
  }
}

.nav-li_a:hover {
  color: white;
}

.nav-sidebar {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #0E0E10;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 640px) {
  .nav-sidebar {
    display: none;
  }
}

.text-gray_gradient {
  background: linear-gradient(to right, #BEC1CF 0% 60%, #D5D8EA 60% 60%, #D5D8EA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* button component */
.btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: #1C1C21;
  transition: all 0.2s;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  transform: scale(0.95);
}

.btn-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  position: absolute;
  display: inline-flex;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: #22c55e;
  opacity: 0.75;
}

.btn-ping_dot {
  position: relative;
  display: inline-flex;
  border-radius: 9999px;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #22c55e;
}

/* hero section */
.hero_tag {
  text-align: center;
  font-family: 'General Sans', sans-serif;
  font-weight: 900;
  line-height: 1.1;
  color: white;
}

@media (max-width: 639px) {
  .hero_tag {
    font-size: 1.875rem;
  }
}

@media (min-width: 640px) {
  .hero_tag {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) {
  .hero_tag {
    font-size: 3rem;
  }
}

@media (min-width: 1280px) {
  .hero_tag {
    font-size: 3.75rem;
  }
}

/* about section */
.grid-container {
  width: 100%;
  height: 100%;
  border: 1px solid #1C1C21;
  background-color: #0E0E10;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem;
}

@media (min-width: 640px) {
  .grid-container {
    padding: 1.75rem;
  }
}

.grid-headtext {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: white;
  font-family: 'General Sans', sans-serif;
}

.grid-subtext {
  color: #afb0b6;
  font-size: 1rem;
  font-family: 'General Sans', sans-serif;
}

.copy-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* projects section */
.arrow-btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.625rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 9999px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.000025) 50%, rgba(255, 255, 255, 0.000025) 50%, rgba(255, 255, 255, 0.025) 100%);
}

.arrow-btn:hover {
  transform: scale(0.95);
}

.tech-logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  padding: 0.5rem;
  background-color: rgba(245, 245, 245, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* clients section */
.client-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.25rem;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .client-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.client-review {
  border-radius: 0.5rem;
  background-color: rgba(28, 28, 33, 0.5);
  grid-column: span 1;
  padding: 1.25rem;
}

@media (min-width: 768px) {
  .client-review {
    padding: 2.5rem;
  }
}

.client-content {
  display: flex;
  margin-top: 1.75rem;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: 1024px) {
  .client-content {
    flex-direction: row;
    align-items: center;
  }
}

/* work experience section */
.work-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: stretch;
  gap: 1.25rem;
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .work-container {
    grid-template-columns: 1fr 2fr;
  }
}

.work-canvas {
  grid-column: span 1;
  border-radius: 0.5rem;
  background-color: #0E0E10;
  border: 1px solid #1C1C21;
  height: auto;
  max-height: fit-content;
}

.work-content {
  grid-column: span 1;
  border-radius: 0.5rem;
  background-color: #0E0E10;
  border: 1px solid #1C1C21;
  height: auto;
  max-height: fit-content;
}

@media (min-width: 1024px) {
  .work-content {
    grid-column: span 1;
    max-height: fit-content;
  }
}

.work-content_container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 1.25rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 0.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.work-content_container:hover {
  background-color: #1C1C21;
}

@media (min-width: 640px) {
  .work-content_container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.work-content_logo {
  border-radius: 9999px;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  background-color: #1A1A1A;
}

.work-content_bar {
  flex: 1;
  width: 0.125rem;
  margin-top: 1rem;
  height: 100%;
  background-color: #1C1C21;
}

.work-content_container:hover .work-content_bar {
  background-color: #3A3A49;
}

.work-content_container:last-child .work-content_bar {
  display: none;
}

/* contact section */
.contact-container {
  max-width: 36rem;
  position: relative;
  z-index: 10;
  margin-top: 3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 640px) {
  .contact-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.field-label {
  font-size: 1.125rem;
  color: #AFB0B6;
}

.field-input {
  width: 100%;
  background-color: #1C1C21;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 3.5rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  color: #E4E4E6;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow-color: #1f2937;
  box-shadow-opacity: 0.2;
  outline: none;
}

.field-input::placeholder {
  color: #62646C;
}

.field-btn {
  background-color: #3A3A49;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow-color: #1f2937;
  box-shadow-opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  color: white;
  gap: 0.75rem;
}

.field-btn_arrow {
  width: 0.625rem;
  height: 0.625rem;
  object-fit: contain;
  filter: invert(1) brightness(0);
}

/* footer */
.social-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C1C21;
  border: 1px solid #0E0E10;
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

